/* banner section responsive with media queries */
/* mobile device */
@media screen and (max-width:576px) {
    .nav, .teams-wrapper{
        flex-direction: column;
    }
    .container{
        width: 100%;
    }
    .banner-content{
        width: 100%;
    }
    .banner-img img{
        width: 100%;
    }
    .teams-img-inner{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .teams-content-inner{
        width: 100%;
    }
}