/* banner section responsive with media queries */
/* mobile device */
@media screen and (max-width:576px) {
    .nav, .teams-wrapper, .features-wrapper{
        flex-direction: column;
    }
    .container{
        width: 100%;
    }
    .banner-content{
        width: 100%;
    }
    .banner-img img{
        width: 100%;
    }
    .teams-img-inner{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .teams-content-inner{
        width: 100%;
    }
    .features-content-inner{
        width: 100%;
    }
    .features-img-inner{
        width: 100%;
    }
    .features-img-box{
        width: 100%;
    }
    .features-img-box img{
        width: 100%;
    }
    .experience-inner{
        left: 13px;
        top: 84%;
    }
    .features-wrapper{
        gap: 2rem;
    }
}