/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared style */
*{
    margin:0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.primary-btn{
    color: #FFF;
    width: 180px;
    background-color: #FF900E;
    border-radius: 0.5rem;
    padding: 1.25rem 1.5rem;
    border: 0;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}
section{
    margin-top: 90px;
}
/* header style */
.header{
    background-color: rgba(255, 144, 14, 0.10);
    padding-bottom: 1.5rem;
}
/* nav style */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}
.brand-title{
    color: #131313;
    font-size: 3rem;
    font-weight: 800;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin-right: 2rem;
}
.menu li a{
    text-decoration: none;
    color: #424242;
    font-size: 1.25rem;
    font-weight: 500;
}
/* banner style */
.banner-content{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.banner-img{
    width: 80%;
    margin:0 auto;
}
.banner-img img{
    margin-top: 1.5rem;
    width: 100%;
}
/* teams section style */
.teams-wrapper{
    display: flex;
    gap: 70px;
    align-items: center;
}
.teams-img-inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 50%;
}
.teams-img-inner img{
    width: 100%;
}
.teams-content-inner{
    width: 50%;
}
.teams-title{
    color: #727272;
    font-size: 3.75rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.teams-title-black{
    color: #131313;
}
.teams-title-orange{
    color: #FF900E;
}
.teams-description{
    color: #727272;
    line-height: 26px;
    font-size: 1rem;
    margin-bottom: 2rem;
}
/* features section style */
.features-wrapper{
    display: flex;
    gap: 140px;
}
.features-content-inner{
    width: 50%;
}
.features-section-title{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    border-left: 6px solid #FF900E;
    padding-left: 1.25rem;
}
.features-section-description{
    color: #727272;
    line-height: 26px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
.features-card{
    padding: 16px 16px;
    margin-bottom: 1.5rem;
    box-shadow: 2px 11px 12px 0px #00000014;
    border-radius: 0.5rem;
}
.eatures-sub-title{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.features-sub-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.features-img-inner{
    width: 50%;
    position: relative;
}
.features-img-inner img{
    width: 100%;
}
.experience-inner{
    position: absolute;
    top: 76%;
    left: -18%;
    width: 301px;
    height: 171px;
    background-color: #FF900E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.5rem;
}
.experience-inner h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
}
.experience-inner p{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
}
/* some facts section style */
.some-facts-title{
    color: #131313;
    font-size: 2.75rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.some-facts-description{
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 5rem;
}
.some-facts-wrapper{
    display: flex;
    justify-content: space-around;
}
.some-facts-inner{
    border: 1px solid #FF900E;
    padding: 2.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.facts-content h2{
    text-align: center;
    margin-top: 6px;
    color: #424242;
    font-size: 2.75rem;
    font-weight: 600;
}
.facts-content p{
    text-align: center;
    margin-top: 6px;
    color: #727272;
    font-size:1.25rem;
    font-weight: 600;
}